*.iml
.gradle
/.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build/
/tools/build/
/net/build/
.gitignore
node_modules/
rn/.idea/inspectionProfiles/
rn/.vscode/
